.cookies-banner > div {
  background-color: #2f3538;
  opacity: 1;
  color: #fff;
  font-family: "vw-text", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0;
  position: fixed;
  z-index: 99999;
  width: auto;
  top: 0;
  left: 0 !important;
  right: 0;
  bottom: auto;
  padding: 20px 101px 20px 20px;
}

@media (min-width: 768px) {
  .cookies-banner > div {
    padding: 45px 100px;
  }
}

/*  */
.btn-close {
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-55%);
  width: 40px;
  height: 40px;
  background-color: #202427;
  border-radius: 50%;
  border: none;
}

.btn-close:before {
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 19px;
  top: 10px;
  content: " ";
  height: 20px;
  width: 4px;
  background-color: #fff;
}
