/*Footer */

.links1,
.links2,
.links3,
.links4 li {
  list-style: none;
}

.links1,
.links2,
.links3,
.links4 li a {
  text-decoration: none;
}

.footer {
  border-top: 2px solid rgb(0, 30, 80);
  padding: 44px 0px;
}

@media (min-width: 560px) {
  .footer {
    padding-top: 72px;
    padding-left: 4.16vw;
    padding-right: 4.16vw;
  }
}

footer {
  padding-top: 0px;
  padding-right: var(--size-grid002);
  padding-bottom: 0px;
  padding-left: var(--size-grid002);
}

.container-footer {
  border-top: 2px solid rgb(0, 30, 80);
  padding: 44px 0px;
}

@media (min-width: 560px) {
  .container-footer {
    padding-top: 72px;
    padding-left: var(--size-grid001);
    padding-right: var(--size-grid001);
  }
}

.c-b-footer {
  display: block;
}

@media (min-width: 560px) {
  .footer-block {
    width: var(--size-grid004);
  }

  .footer-block:last-child {
    margin-right: calc(-1 * var(--size-grid001));
  }

  .c-b-footer {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

.title-footer {
  font-family: var(--font-family-head, vw-head, Helvetica, Arial, sans-serif);
  color: rgb(0, 0, 0);
  word-break: inherit;
  font-weight: bold;
  font-size: var(--textappearances-headline200-fontsize);
  line-height: var(--textappearances-headline200-lineheight);
  letter-spacing: var(--textappearances-headline200-letterspacing);

  margin-bottom: 24px;
}

.list-links-footer {
  margin: 0px 0px 44px;
  padding: 0px;
  list-style: none;
}

.list-links-footer li {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: rgb(0, 0, 0);
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy150-fontsize);
  line-height: var(--textappearances-copy150-lineheight);
  letter-spacing: var(--textappearances-copy150-letterspacing);
  margin: -0.11em 0px 0.11em;
}

.list-links-footer a {
  display: block;
  padding: 4px 0px;
}

.list-links-footer li a {
  position: relative;
  color: rgb(0, 30, 80);
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  border-bottom-color: rgb(0, 64, 197);
  color: rgb(0, 64, 197);
}

/* bottom footer */

.bottom-footer {
  display: block;
}

.bottom-footer .block-1 {
  margin-bottom: 44px;
}

@media (min-width: 560px) {
  .bottom-footer {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .bottom-footer .block-1 {
    order: 1;
    padding-left: 44px;
    white-space: nowrap;
    margin: 0px;
  }
}

.c-f-text {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: rgb(0, 0, 0);
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy100-fontsize);
  line-height: var(--textappearances-copy100-lineheight);
  letter-spacing: var(--textappearances-copy100-letterspacing);
  margin: -0.11em 0px 0.11em;
}

.bottom-footer .block-2 {
  display: flex;
  flex-wrap: wrap;
}

.c-b-f-link {
  display: flex;
}

.c-b-f-link:not(:last-child)::after {
  content: "|";
  margin: 0px 12px;
}

.c-b-f-link div {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: rgb(0, 0, 0);
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy150-fontsize);
  line-height: var(--textappearances-copy150-lineheight);
  letter-spacing: var(--textappearances-copy150-letterspacing);
  margin: -0.11em 0px 0.11em;
}

.c-b-f-link div a {
  position: relative;
  color: rgb(0, 30, 80);
  text-decoration: none;
}

/* Line footer  */

.line-footer {
  border-top: 1px solid rgb(223, 228, 232);
  padding: 44px 0px 12px;
}

@media (min-width: 560px) {
  .line-footer {
    padding-top: 72px;
  }
}
