/* Menu - pagina */
body.menu-active {
  overflow: hidden;
}

.menu-pagina {
  position: absolute;
  width: 100%;
  width: 0;
  height: 100%;
  background: radial-gradient(circle at 0% 0%, #00437a 0%, #001e50 100%);
  top: 0;
  left: 0;
  left: 0;
  z-index: 9;
  transition: 0.5s;
  overflow-x: hidden;
}

.menu-pagina.active {
  width: 100%;
}

.menu-pagina > div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  font-family: "vw-text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

.button-menu-close {
  cursor: pointer;
  color: white;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: transparent;
  outline: none;
}

.button-menu-close > div {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  align-items: center;
  grid-column-gap: 8px;
}

.menu-active {
  overflow: hidden;
}

.menu-active .header {
  opacity: 0;
  display: none;
}

.menu-active .menu-pagina {
  display: block;
  position: fixed;
}

/* Menu pagina containers */
.menu-pagina .container {
  max-width: 100%;
}

.menu-pagina .container-top {
  max-height: calc(100vh - 75px);
  height: calc(100vh - 75px);
  overflow-y: auto;
  padding-top: var(--size-dynamic0100);
}

@media (min-width: 960px) {
  .menu-pagina .container-top {
    margin-bottom: calc(2 * var(--size-dynamic0100));
  }
}

.menu-pagina .container-main {
  min-height: 75px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Content  */
.menu-pagina .container-button {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transform: translate3d(0px, 0px, 0px);
  transition: padding-left 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
  margin-bottom: 24px;
  padding: 0 33px;
}

@media (min-width: 960px) {
  .menu-pagina .container-button {
    margin-bottom: calc(2 * var(--size-dynamic0100));
  }
}

/* content */
.menu-pagina .container-content {
  display: grid;
  max-width: 2560px;
  grid-template-columns: repeat(24, 1fr);
  grid-template-areas: "main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0" "promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0" "bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0";
  row-gap: 92px;
  margin: auto;
}

@media (min-width: 560px) {
  .menu-pagina .container-content {
    grid-template-columns: repeat(24, 1fr);
    grid-template-areas: "main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0" "promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0" "bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0";
  }
}

@media (min-width: 960px) {
  .menu-pagina .container-content {
    grid-template-columns: repeat(24, 1fr);
    grid-template-areas: "main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0" "bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0";
  }
}

@media (min-width: 1280px) {
  .menu-pagina .container-content {
    grid-template-columns: repeat(24, 1fr);
    grid-template-areas: "main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 main-navigation-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0 promotional-area0" "bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0 bottom-content-area0";
  }
}

/* Main */
.menu-pagina .main-navigation {
  grid-area: main-navigation-area0 / main-navigation-area0 /
    main-navigation-area0 / main-navigation-area0;
  overflow: visible;
}

.menu-pagina .main-navigation > div {
  position: relative;
}

@media (min-width: 560px) {
  .menu-pagina .main-navigation {
    grid-area: main-navigation-area0 / main-navigation-area0 /
      main-navigation-area0 / main-navigation-area0;
  }
}

@media (min-width: 960px) {
  .menu-pagina .main-navigation {
    grid-area: main-navigation-area0 / main-navigation-area0 /
      main-navigation-area0 / main-navigation-area0;
  }
}

@media (min-width: 1280px) {
  .menu-pagina .main-navigation {
    grid-area: main-navigation-area0 / main-navigation-area0 /
      main-navigation-area0 / main-navigation-area0;
  }
}

/* Container list */
.menu-pagina .container-list {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-left: var(--size-grid003);
  padding-right: var(--size-grid003);
  transition: padding-left 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
  font-family: var(--font-family-head, vw-head, Helvetica, Arial, sans-serif);
  color: white;
  word-break: inherit;
  font-weight: 200;
  font-size: var(--textappearances-headline300-fontsize);
  line-height: var(--textappearances-headline300-lineheight);
  letter-spacing: var(--textappearances-headline300-letterspacing);
  margin: -0.11em 0px 0.11em;
}

@media (min-width: 960px) {
  .menu-pagina .container-list {
    padding-left: var(--size-grid002);
    padding-right: var(--size-grid002);
  }
}

.jDQIYm {
  display: inline-block;
  box-sizing: border-box;
  margin-left: -16px;
  color: white;
  padding: 12px 16px;
  transition: color 0.25s ease-in-out 0s;
  text-decoration: none;
}

.jDQIYm::after {
  content: "";
  position: relative;
  top: 4px;
  display: block;
  width: 0px;
  height: 1px;
  margin-bottom: -1px;
  transform: translate3d(0px, 0px, 0px);
  background: #4cc7f4;
}

.jDQIYm:hover,
.jDQIYm:focus {
  color: #4cc7f4;
}

/* Container line */
.menu-pagina .container-line {
  height: 100%;
  position: absolute;
  width: 2px;
  display: none;
  right: 0px;
  top: 0px;
  background: #96a3a8;
}

@media (min-width: 960px) {
  .menu-pagina .container-line {
    display: block;
  }
}

/* Promotional */
.menu-pagina .promotional {
  grid-area: promotional-area0 / promotional-area0 / promotional-area0 /
    promotional-area0;
  overflow: visible;
  padding-left: var(--size-grid003);
  padding-right: var(--size-grid003);
}

@media (min-width: 560px) {
  .menu-pagina .promotional {
    grid-area: promotional-area0 / promotional-area0 / promotional-area0 /
      promotional-area0;
  }
}

@media (min-width: 960px) {
  .menu-pagina .promotional {
    grid-area: promotional-area0 / promotional-area0 / promotional-area0 /
      promotional-area0;
  }
}

@media (min-width: 1280px) {
  .menu-pagina .promotional {
    grid-area: promotional-area0 / promotional-area0 / promotional-area0 /
      promotional-area0;
  }
}

/* padding  */
.menu-pagina .promotional {
  height: 100%;
}

@media (min-width: 960px) {
  .menu-pagina .promotional {
    padding-right: var(--size-grid002);
    padding-left: var(--size-grid001);
  }
}

/*  */
.fxjPIw {
  flex-shrink: 0;
  max-width: 100%;
  margin: 0px 0px 12px;
}

.jppkwY {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: white;
  word-break: inherit;
  font-weight: bold;
  font-size: var(--textappearances-copy150-fontsize);
  line-height: var(--textappearances-copy150-lineheight);
  letter-spacing: var(--textappearances-copy150-letterspacing);
  margin: -0.11em 0px 0.11em;
}

/*  */
.menu-pagina .container-list-promotional {
  margin: 0px 0px 12px;
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: white;
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy150-fontsize);
  line-height: var(--textappearances-copy150-lineheight);
  letter-spacing: var(--textappearances-copy150-letterspacing);
  margin-bottom: 56px;
}

.eebzXp {
  /* li */
  margin: 8px 0px;
}

.bdomQM {
  /* a */
  position: relative;
  color: white;
  text-decoration: none;
}

.bdomQM:hover,
.bdomQM:focus {
  border-bottom-color: #4cc7f4;
  color: #4cc7f4;
}

/*  */
.menu-pagina .block-img .container-img {
  padding-bottom: 75%;
}

.menu-pagina .link-text-title {
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
}

.menu-pagina .link-text-title:hover,
.menu-pagina .link-text-title:focus {
  color: #4cc7f4;
  outline: 0px;
}

/* Bottom */
.menu-pagina .bottom {
  grid-area: bottom-content-area0 / bottom-content-area0 / bottom-content-area0 /
    bottom-content-area0;
  overflow: visible;
  padding-left: var(--size-grid003);
  padding-right: var(--size-grid003);
}

@media (min-width: 560px) {
  .menu-pagina .bottom {
    grid-area: bottom-content-area0 / bottom-content-area0 /
      bottom-content-area0 / bottom-content-area0;
  }
}

@media (min-width: 960px) {
  .menu-pagina .bottom {
    display: none;
    grid-area: bottom-content-area0 / bottom-content-area0 /
      bottom-content-area0 / bottom-content-area0;
  }
}

@media (min-width: 1280px) {
  .menu-pagina .bottom {
    display: none;
    grid-area: bottom-content-area0 / bottom-content-area0 /
      bottom-content-area0 / bottom-content-area0;
  }
}

/* container bottom */
.menu-pagina .container-bottom {
  display: none;
  min-height: 75px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: var(--size-grid002);
  padding-left: var(--size-grid001);
}

@media (min-width: 960px) {
  .menu-pagina .container-bottom {
    display: block;
  }
}

.cCIpcJ {
  padding-top: 0px;
  padding-right: var(--container-0-grid003-960-grid002);
  padding-bottom: 0px;
  padding-left: var(--container-0-grid003-960-grid001);
}

.cjbXxL:not(:last-child)::after {
  content: "|";
  color: white;
  margin: 0px 8px;
}

@media (min-width: 960px) {
  .cCIpcJ {
    margin-left: var(--size-grid001);
    --container-0-grid003-960-grid002: var(--size-grid002);
    --container-0-grid003-960-grid001: var(--size-grid001);
  }
}

.kboOBU {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: white;
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy100-fontsize);
  line-height: var(--textappearances-copy100-lineheight);
  letter-spacing: var(--textappearances-copy100-letterspacing);
  margin: -0.11em 0px 0.11em;
}

.goQAPu {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: white;
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy150-fontsize);
  line-height: var(--textappearances-copy150-lineheight);
  letter-spacing: var(--textappearances-copy150-letterspacing);
  margin: -0.11em 0px 0.11em;
}

.bdomQM {
  position: relative;
  color: white;
  text-decoration: none;
}
