/* Container open Modal */

body.open-modal {
  overflow: hidden;
}

.container-open-modal {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.container-modal {
  position: fixed;
  max-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  animation-name: appear;
  animation-duration: 1s;
}

.container-modal.show {
  display: block;
}

.container-modal.disappear {
  display: block;

  animation-name: disappear;
  animation-duration: 1s;
}

/* The animation code */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The animation code */
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal- {
  width: 70%;
  max-height: 90%;
  overflow: auto;
  position: relative;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  background-color: white;
  padding: 2.5em;
  border-radius: 3px;
}

@media (max-width: 425px) {
  .modal- {
    padding: 2em;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}

form {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color: #001e50;
  /* border: 1px solid #ccc; */
  border: none;
  border-bottom: 1px solid #9b9b9b;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.2em;
  padding: 0;
  letter-spacing: -0.035em;
  outline: none;
}

form input,
form select,
form textarea {
  color: #001e50;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.2em;
  padding: 0;
  letter-spacing: -0.035em;
}

.vfl-has-label {
  position: relative;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.vfl-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0.1em;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #aaa;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.vfl-label,
.vfl-label-on-focus,
.vfl-label-on-input {
  color: #001e50;
}

.vfl-label-on-input {
  top: -1.3em;
  pointer-events: all;
  opacity: 1;
}

/*  */
button[disabled],
html input[disabled] {
  cursor: default;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

form .btn.btn-primary {
  border-radius: 22px;
  margin: 0.5em auto 0;
  font-size: 1.2em;
  padding: 0.4em 2.8em 0.6em;
  letter-spacing: -0.04em;
  color: #fff;
  background: #001e50;
  border: 1px solid #fff;
  line-height: 1.42857143;
}

/* 
@media (max-width: 425px) {
  form .btn.btn-primary {
    margin: 7em 0;
  }
} 
*/

/*  */
form h3 {
  font-size: 2.3em;
  font-family: vw-head, Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em;
  padding-right: 15px;
  padding-left: 15px;
}

form p,
form p.text-2 {
  padding-right: 15px;
  padding-left: 15px;
}

form .row {
  margin-bottom: 1.25em;
}

@media (max-width: 425px) {
  form .row {
    margin-bottom: 0.5em;
  }
}

form .row:last-child {
  margin-bottom: 0;
}

/*  */

.container-close-modal {
  position: relative;
}
.button-close {
  position: absolute;
  right: 1em;
  transform: translateY(-55%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.button-close:before {
  transform: rotate(45deg);
}

.button-close:after {
  transform: rotate(-45deg);
}

.button-close:before,
.button-close:after {
  position: absolute;
  left: 19px;
  top: 10px;
  content: ' ';
  height: 20px;
  width: 4px;
  background-color: #333;
}
