/* Section whit Sangria */
.section-sangria .container-area-a {
  --container-0-grid002-560-grid006-960-grid001: var(--size-grid002);
  --container-0-grid002-560-grid006-960-grid002: var(--size-grid002);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: var(--container-0-grid002-560-grid006-960-grid001);
  padding-left: var(--container-0-grid002-560-grid006-960-grid002);
}

.section-sangria .container-area-b {
  --container-0-grid002-560-grid006-960-grid002: var(--size-grid002);
  --container-0-grid002-560-grid006-960-grid001: var(--size-grid002);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: var(--container-0-grid002-560-grid006-960-grid002);
  padding-left: var(--container-0-grid002-560-grid006-960-grid001);
}
.section-sangria .container-area-b .container-img {
  padding-bottom: 56.25%;
  margin: 0 0 var(--size-dynamic0020);
}

@media (min-width: 560px) {
  .section-sangria .container-area-a {
    --container-0-grid002-560-grid006-960-grid001: var(--size-grid006);
    --container-0-grid002-560-grid006-960-grid002: var(--size-grid006);
  }
  .section-sangria .container-area-b {
    --container-0-grid002-560-grid006-960-grid001: var(--size-grid006);
    --container-0-grid002-560-grid006-960-grid002: var(--size-grid006);
  }
}

@media (min-width: 960px) {
  .section-sangria .container-area-a {
    --container-0-grid002-560-grid006-960-grid001: var(--size-grid001);
    --container-0-grid002-560-grid006-960-grid002: var(--size-grid002);
  }
  .section-sangria .container-area-b {
    --container-0-grid002-560-grid006-960-grid001: var(--size-grid001);
    --container-0-grid002-560-grid006-960-grid002: var(--size-grid002);
  }
}

.section-sangria .sangria-title {
  --container-0-grid002-560-grid001: var(--size-grid002);
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--size-dynamic0020);
  padding-right: var(--container-0-grid002-560-grid001);
  padding-bottom: var(--size-dynamic0100);
  padding-left: var(--container-0-grid002-560-grid001);
  border-left: 2px solid #dfe4e8;
  margin: 0 0 var(--size-dynamic0100);
  text-align: left;
}
@media (min-width: 560px) {
  .section-sangria .sangria-title {
    --container-0-grid002-560-grid001: var(--size-grid001);
  }
}

.galeria-4-section .grid:nth-child(1) {
  grid-template-areas: "a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 b0 b0 b0 b0 b0 b0 b0 b0";
}
.galeria-4-section .grid:nth-child(1) .area-b {
  display: flex;
  padding: 0px;
  height: 100%;
  align-items: flex-end;
}

.galeria-4-section .grid:nth-child(2) {
  grid-template-areas: "a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0";
}
.galeria-4-section .grid:nth-child(2) .area-a {
  display: flex;
  padding: 0 0 0 var(--size-grid006);
  height: 100%;
  align-items: flex-start;
}
.galeria-4-section .grid:nth-child(2) .area-b {
  display: flex;
  padding: 0 var(--size-grid003) 0 0;
  height: 100%;
  align-items: flex-start;
}

.galeria-4-section .container-img {
  padding-bottom: 56.25%;
  margin: 0;
}

.galeria-4-section .desktop {
  visibility: hidden;
  opacity: 0;
  display: none;
}
@media (min-width: 560px) {
  .galeria-4-section .desktop {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

.galeria-4-section .mobile {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}
@media (min-width: 560px) {
  .galeria-4-section .mobile {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
.galeria-4-section .mobile .container-img {
  padding-bottom: 133.333%;
}

.centered-section {
  --container-0-grid002-560-grid004: var(--size-grid002);
  display: block;
  flex-wrap: unset;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: var(--container-0-grid002-560-grid004);
  padding-left: var(--container-0-grid002-560-grid004);
}
@media (min-width: 560px) {
  .centered-section {
    --container-0-grid002-560-grid004: var(--size-grid004);
    --container-0-grid002-560-grid004: var(--size-grid004);
  }
}
.centered-section .container-img {
  padding-bottom: 56.25%;
}

/*  Section Elegi tu version */
.container-elegi {
  --container-0-static0-560-grid002: var(--size-grid002);
  display: block;
  flex-wrap: unset;
  flex-direction: unset;
  margin: 0px;
  padding-top: 0px;
  padding-right: var(--container-0-static0-560-grid002);
  padding-bottom: 0px;
  padding-left: var(--container-0-static0-560-grid002);
}
.container-elegi .container-list {
  touch-action: pan-y;
  white-space: nowrap;
  display: flex;
  grid-template-columns: repeat(3, 25%);
  justify-content: space-around;
  flex: 1 1 0%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: #dfe4e8 0px -1px 0px inset;
  position: relative;
}
@media screen and (min-width: 560px) {
  .container-elegi .container-list {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 560px) {
  .container-elegi .container-list .container-button {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all cubic-bezier(0.4, 0, 1, 1) 150ms;
  }
  .container-elegi .container-list .container-button.selected {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 560px) {
  .container-elegi .container-list .container-button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    margin: 0px 8px 0;
  }
}
.container-elegi .container-areas {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 100%;
  -webkit-box-align: start;
  align-items: start;
  opacity: 0;
  display: none;
  transition: all 300ms;
}
@media (max-width: 560px) {
  .container-elegi .container-areas > div:last-child {
    margin-top: 30px;
  }
}
.container-elegi .container-areas.active {
  opacity: 1;
  display: grid;
}
@media screen and (min-width: 560px) {
  .container-elegi .container-areas {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
}
@media screen and (min-width: 960px) {
  .container-elegi .container-areas {
    grid-column-gap: 44px;
  }
}

.img-model {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: normal;
  text-align: inherit;
  padding-bottom: 13%;
  flex: 1 1 0%;
}

.img-model .background {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 16px;
  flex: 1 1 0%;
}

@media screen and (min-width: 560px) {
  .img-model .background {
    padding-top: 24px;
  }
}

.container-elegi .model-img {
  position: relative;
  padding-top: 37.8125%;
  margin-top: 16px;
  margin-bottom: -13%;
}

.container-list-area-b {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container-list-area-b li {
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  margin-top: 13px;
}

.container-list-area-b li:first-of-type {
  margin: 0px;
}

.container-list-area-b li > :first-child {
  color: #001e50;
  margin-right: 16px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.buttons-slider {
  display: none;
}
@media screen and (max-width: 560px) {
  .buttons-slider {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  .buttons-slider .slider-left {
    place-content: center;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    height: 44px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    padding: 0px;
    width: 44px;
    position: absolute;
    left: 0;
  }
  .buttons-slider .slider-right {
    place-content: center;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    height: 44px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    padding: 0px;
    width: 44px;
    position: absolute;
    right: 0;
  }
  .buttons-slider button {
    color: #001e50;
  }
  .buttons-slider button:disabled {
    color: #dfe4e8;
  }
}

.container-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container-buttons .container-button {
  max-width: 100%;
  flex-shrink: 1;
  display: inline-flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  will-change: transform;
  padding: 0px 16px;
  margin: 0px 0px 16px;
}
.container-buttons .container-button.selected {
  position: relative;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 560px) {
  .container-buttons .container-button {
    margin: 0px calc(8px) 16px;
  }
}
