/* Page main */
.main {
  position: relative;
}

/* Inicio primer block */
.section-1 {
  display: block;
  flex-wrap: unset;
  flex-direction: unset;
  margin: 0px 0px calc(0px);
  padding: 0px 0px 0px;

  max-width: 100%;
  height: 100vh;
  position: relative;
}

.container-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-background > div {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.container-background img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;

  display: block;
  width: 100%;
  filter: brightness(80%);
}

/* Contenedor */

.section-1 .container-block {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.section-1 .divisor-block {
  height: calc(100vh - var(--vwa-components-core-browser-address-bar, 0px));
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0.1s,
    height 0.3s ease-in 0s;
}

/* Seccion del titulo */

.section-1 .primera {
  pointer-events: all;
  margin-left: var(--size-grid002);
  margin-right: var(--size-grid002);
}

@media (min-width: 560px) {
  .section-1 .primera {
    margin-right: var(--size-grid006);
  }
}

@media (min-width: 960px) {
  .section-1 .primera {
    margin-right: var(--size-grid008);
  }
}

@media (min-width: 1280px) {
  .section-1 .primera {
    margin-right: var(--size-grid010);
  }
}

.section-1 .titulo {
  font-family: var(--font-family-head, vw-head, Helvetica, Arial, sans-serif);
  color: rgb(255, 255, 255);
  word-break: inherit;
  font-weight: 200;
  font-size: var(--textappearances-headline450-fontsize);
  line-height: var(--textappearances-headline450-lineheight);
  letter-spacing: var(--textappearances-headline450-letterspacing);
  margin: -0.11em 0px 0.11em;

  position: relative;

  hyphens: auto;
  word-break: break-word;
}

/* Seccion del boton */

.section-1 .container-link {
  padding-top: var(--size-dynamic0150);
  position: relative;
}

.section-1 .link {
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 44px;
  text-decoration: none;
  margin: 0px;
  padding: 0px 40px;
  border-width: 2px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  border-radius: 22px;
  outline: none;
  transition: all 0.2s ease-in-out 0s;
}

.section-1 .link {
  cursor: pointer;
  color: rgb(0, 30, 80);
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

@media (hover: hover) {
  .section-1 .link:hover,
  .section-1 .link:focus {
    color: rgb(0, 30, 80);
    background: rgb(76, 199, 244);
    border-color: rgb(76, 199, 244);
  }
}

@media (hover: hover) {
  .section-1 .link:focus {
    outline-offset: 4px;
    outline: rgb(76, 199, 244) solid 1px;
  }
}

.section-1 .texto-link {
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  color: inherit;
  word-break: inherit;
  font-weight: normal;
  font-size: var(--textappearances-copy150-fontsize);
  line-height: var(--textappearances-copy150-lineheight);
  letter-spacing: var(--textappearances-copy150-letterspacing);
  text-align: center;
  margin: -0.11em 0px 0.11em;
}

/* Seccion del medio */

.section-1 .segunda {
  height: 44px;
  max-height: var(--size-dynamic0350);
  margin: 0px auto;
}

@media (min-width: 560px) {
  .section-1 .segunda {
    height: 12%;
  }
}

/* Animacion -- liniecita */

.section-1 .tercera {
  -webkit-box-flex: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 0px;
}

@media (min-height: 700px) and (min-width: 560px) {
  .section-1 .tercera {
    padding-bottom: 32px;
  }
}

.section-1 .container-animacion {
  position: relative;
  height: 30px;
  width: 2px;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}

@media (min-width: 560px) {
  .section-1 .container-animacion {
    height: 50px;
  }
}

.section-1 .animacion {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  animation: 3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s infinite normal none
    running hcsRZJ;
}

@keyframes hcsRZJ {
  0% {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
  }
  50% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* Fin primer block */
