.video-section {
  margin: 10rem auto;
  width: calc((100vw / 24) * 12);
  position: relative;
  flex: 1 1 0%;
}
@media (min-width: 560px) and (max-width: 960px) {
  .video-section {
    width: calc((100vw / 24) * 20);
  }
}
@media (max-width: 560px) {
  .video-section {
    width: calc((100vw / 24) * 22);
  }
}
.video-section .container-img,
.video-section .container-video {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
}
.video-section .container-video > * {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.video-section .start-video {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
}
.video-section .start-button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
  width: 52px;
  height: 52px;
  z-index: 1;
  cursor: pointer;
}
.video-section .start-button svg path {
  fill: white;
}
@media (hover: hover) {
  .video-section .start-button svg:hover path {
    fill: #4cc7f4;
  }
}
.video-section .no-mostrar {
  display: none;
}

.video-interaction {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
}
.video-interaction .container {
  position: absolute;
  bottom: 0px;
  direction: ltr;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
}
.video-interaction .option:not(:last-child) {
  margin-right: 16px;
}
.video-interaction .play-pause {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.video-interaction .play-pause svg {
  display: none;
}
.video-interaction .play-pause svg:nth-child(1) {
  display: block;
}
.video-interaction .play-pause.pause {
  width: 24px;
  height: 24px;
}
.video-interaction .play-pause.pause svg {
  display: none;
}
.video-interaction .play-pause.pause svg:nth-child(2) {
  display: block;
}
.video-interaction svg path {
  fill: white;
}
@media (hover: hover) {
  .video-interaction svg:hover path {
    fill: #4cc7f4;
  }
}
.video-interaction .slider-video {
  --scrubber-btn-size: 0.0833333;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  touch-action: pan-x;
  width: 100%;
  height: 24px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.video-interaction .slider-video:hover {
  --scrubber-btn-size: 1;
}
.video-interaction .line {
  flex: 1 1 0%;
  background: white;
  pointer-events: none;
  height: 2px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.video-interaction .line-persist {
  position: relative;
  z-index: 2;
  background: #4cc7f4;
  height: 100%;
}
.video-interaction .line-over {
  position: absolute;
  z-index: 1;
  display: none;
  background: #4cc7f4;
  pointer-events: none;
  height: 2px;
}
.video-interaction .ball {
  position: absolute;
  z-index: 3;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4cc7f4;
  transform: translate3d(-50%, 0, 0)
    scale(var(--scrubber-btn-size), var(--scrubber-btn-size));
  transform-origin: center center;
  backface-visibility: hidden;
  transition: transform 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
}
.video-interaction .time-video {
  color: white;
  word-break: inherit;
  margin: -0.11em 0px 0.11em;
  font-family: var(--font-family-text, vw-text, Helvetica, Arial, sans-serif);
  font-weight: normal;
  font-size: var(--textappearances-copy100-fontsize);
  line-height: var(--textappearances-copy100-lineheight);
  letter-spacing: var(--textappearances-copy100-letterspacing);
}
.video-interaction .audio {
  align-self: flex-end;
  overflow: hidden;
  --styled-sound-controls-opacity: 0;
  --styled-sound-controls-height: 0;
  --styled-sound-controls-opacity: 1;
  --styled-sound-controls-height: 5rem;
  --styled-sound-controls-transition: height 0.3s
      cubic-bezier(0.14, 1.12, 0.67, 0.99),
    opacity 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0.3s;
}
.video-interaction .option-audio {
  flex-shrink: 0;
  max-width: 100%;
  margin: 0px 0px 12px;
}
.video-interaction .option-audio:last-child {
  margin: 0px;
}
.video-interaction .container-slider {
  width: 24px;
  height: var(--styled-sound-controls-height);
  opacity: var(--styled-sound-controls-opacity);
  transition: var(--styled-sound-controls-transition);
}
.video-interaction .slider-audio {
  --scrubber-btn-size: 1;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  touch-action: pan-x;
  width: 24px;
  height: 100%;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 8px;
}
.video-interaction .line-audio {
  flex: 1 1 0%;
  background: white;
  pointer-events: none;
  width: 2px;
  display: flex;
  align-items: flex-end;
}
.video-interaction .line-audio-over {
  position: relative;
  z-index: 2;
  background: #4cc7f4;
  width: 100%;
}
.video-interaction .ball-audio {
  position: absolute;
  z-index: 3;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4cc7f4;
  transform: translate3d(0, 50%, 0)
    scale(var(--scrubber-btn-size), var(--scrubber-btn-size));
  transform-origin: center center;
  backface-visibility: hidden;
  transition: transform 0.3s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
  bottom: 80%;
}
.video-interaction .container-icon svg path {
  fill: white;
}
@media (hover: hover) {
  .video-interaction .container-icon svg:hover path {
    fill: #4cc7f4;
  }
}
.video-interaction .fullscreen {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.video-interaction .fullscreen svg path {
  fill: white;
}
@media (hover: hover) {
  .video-interaction .fullscreen svg:hover path {
    fill: #4cc7f4;
  }
}
