/* Inicio buttons-widget */

// Inicio
.buttons-widget {
  position: fixed;
  bottom: 320px;
  right: 10px;

  @media only screen and (max-width: 767px) {
    bottom: calc(10px + 292px) !important;
    right: 10px !important;
    margin-bottom: 76px;
  }
  // Container
  .container-widget {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: 'vw-text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
  }
  // Position - Container Buttons
  .position-buttons {
    position: absolute;
    right: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    @media (min-width: 560px) {
      opacity: 1;
    }

    .container-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  // Buttons
  .button-widget {
    display: block;
    cursor: pointer;
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 40px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    opacity: 1;
    width: 64px;
    transition: 0.4s;
  }

  .button-widget-backgroundColor {
    background: #4cc7f4;
  }
}
// Buttons
.button-widget-invisible {
  visibility: hidden !important;
  opacity: 0;
  transition: 0.5s;
}

.buttons-widget {
  .button-mobile svg:nth-child(1) {
    display: block;
  }

  .button-mobile svg:nth-child(2) {
    display: none;
  }

  .text {
    font-size: 16px;
    color: var(--hub-color-prussian-blue);
    line-height: 16px;
    opacity: 0;
    transition: opacity 0.4s 0.1s ease;
    position: absolute;
    left: 64px;
  }

  p.text {
    width: 300px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #001e50;
    font-size: 15px;
  }

  svg {
    fill: #001e50;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 20px;
  }

  .container-mobile {
    position: absolute;
    right: 0px;
    top: 304px;
    overflow: hidden;

    @media (min-width: 767px) {
      visibility: hidden;
      opacity: 0;
    }
  }

  .button-mobile {
    display: block;
    cursor: pointer;
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 40px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding: 0;

    background: #4cc7f4;
    border-style: none;

    transition: width 0.4s 0.1s;
  }

  @media (min-width: 560px) {
    .container-mobile .button-mobile {
      visibility: visible;
      opacity: 1 !important;
    }
    .button-mobile {
      opacity: 0;
    }
  }

  .open-widget {
    &.button-widget {
      visibility: visible !important;
      opacity: 1;
      animation-name: fadeInOpacity;

      width: 240px;
      display: flex;
    }

    &.button-mobile svg:nth-child(1) {
      display: none;
    }

    &.button-mobile svg:nth-child(2) {
      display: block;
    }

    &.text {
      opacity: 1;
    }
  }
}

/* Finf Menu flotante derecha */
