/* Inicio buttons-widget */

.buttons-widget {
  position: fixed;
  bottom: 320px;
  right: 10px;

  @media only screen and (max-width: 767px) {
    bottom: calc(10px + 292px) !important;
    right: 10px !important;
    margin-bottom: 76px;
  }
  .container-widget {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: 'vw-text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
  }

  .position-buttons {
    position: absolute;
    right: 15px;
    overflow: hidden;

    .container-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .button-widget {
    display: block;
    cursor: pointer;
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 40px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    opacity: 1;
    width: 64px;
    transition: 0.4s;

    .button-mobile {
      display: block;
      cursor: pointer;
      position: relative;
      height: 64px;
      width: 64px;
      border-radius: 40px;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      opacity: 1;

      padding: 0;

      background: #4cc7f4;
      border-style: none;
      visibility: hidden;

      transition: width 0.4s 0.1s;
    }
  }

  .button-widget-backgroundColor {
    background: #4cc7f4;
  }
}

.button-widget-invisible {
  visibility: hidden !important;
  opacity: 0;
  transition: 0.5s;
}

.open-widget .button-widget {
  visibility: visible !important;
  opacity: 1;
  animation-name: fadeInOpacity;

  width: 240px;
  display: flex;
}

.buttons-widget  {
  .button-mobile svg:nth-child(1) {
    display: block;
  }


  .button-mobile svg:nth-child(2) {
    display: none;
  }

  .open-widget .button-mobile svg:nth-child(1) {
    display: none;
  }

  .open-widget .button-mobile svg:nth-child(2) {
    display: block;
  }

  @media only screen and (max-width: 767px) {
    .container-mobile .button-mobile {
      visibility: visible;
      opacity: 1 !important;
    }
    .button-mobile {
      visibility: hidden;
    }
  }

  .text {
    font-size: 16px;
    color: var(--hub-color-prussian-blue);
    line-height: 16px;
    opacity: 0;
    transition: opacity 0.4s 0.1s ease;
    position: absolute;
    left: 64px;
  }

  .open-widget .text {
    opacity: 1;
  }

  p.text {
    width: 300px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #001e50;
    font-size: 15px;
  }

  svg {
    fill: #001e50;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 20px;
  }
  
  .container-mobile {
    position: absolute;
    right: 0px;
    top: 304px;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
      visibility: hidden;
      opacity: 0;
    }
  }

  
}

/* Finf Menu flotante derecha */
