.galeria-4-section .grid:nth-child(1) {
  grid-template-areas: ' a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 b0 b0 b0 b0 b0 b0 b0 b0 '; }
  .galeria-4-section .grid:nth-child(1) .area-b {
    display: flex;
    padding: 0px;
    height: 100%;
    align-items: flex-end; }

.galeria-4-section .grid:nth-child(2) {
  grid-template-areas: ' a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 '; }
  .galeria-4-section .grid:nth-child(2) .area-a {
    display: flex;
    padding: 0 0 0 var(--size-grid006);
    height: 100%;
    align-items: flex-start; }
  .galeria-4-section .grid:nth-child(2) .area-b {
    display: flex;
    padding: 0 var(--size-grid003) 0 0;
    height: 100%;
    align-items: flex-start; }

.galeria-4-section .container-img {
  padding-bottom: 56.25%;
  margin: 0; }
