.galeria-4-section {
  .grid:nth-child(1) {
    grid-template-areas: 'a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 b0 b0 b0 b0 b0 b0 b0 b0';

    .area-b {
      display: flex;
      padding: 0px;
      height: 100%;
      align-items: flex-end;
    }
  }

  .grid:nth-child(2) {
    grid-template-areas: 'a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 a0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0 b0';

    .area-a {
      display: flex;
      padding: 0 0 0 var(--size-grid006);
      height: 100%;
      align-items: flex-start;
    }

    .area-b {
      display: flex;
      padding: 0 var(--size-grid003) 0 0;
      height: 100%;
      align-items: flex-start;
    }
  }

  .container-img {
    padding-bottom: 56.25%;
    margin: 0;
  }
}

//  Mobile
.galeria-4-section {
  .desktop {
    visibility: hidden;
    opacity: 0;
    display: none;

    @media (min-width: 560px) {
      visibility: visible;
      opacity: 1;
    }
  }

  .mobile {
    visibility: visible;
    opacity: 1;
    overflow: hidden;

    @media (min-width: 560px) {
      visibility: hidden;
      opacity: 0;
      display: none;
    }

    .container-img {
      padding-bottom: 133.333%;
    }
  }
}
